public/index.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Cultuur + Ondernemen</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- ================= Favicon =================-->
    <link rel="icon" href="img/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon">
    <!-- ################# Favicon #################-->
    <!-- ==================== OG Tags ====================-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- #################### OG Tags ####################-->
    <!-- ==================== Css ====================-->
    <link rel="stylesheet" href="css/main.css">
    <!-- #################### Css ####################-->
  </head>
</html>
<body>
  <!-- ==> Start Navigation-->
  <nav class="navigation">
    <div class="container">
      <div class="logo"><a class="logo__link" href="#"><img src="img/desc-logo.svg" alt="Logotype"></a></div>
      <div class="logo-mob"><a class="logo__link" href="#"><img src="img/mobile-logo.svg" alt="Mobile logotype"></a></div>
    </div>
  </nav>
  <!-- ==> End Navigation-->
  <!-- ==> Start Sticky Bar-->
  <div class="sticky-bar">
    <div class="sticky-bar__wrap sticky-bar__wrap_left">
      <h2 class="sticky-bar__title">Meer weten over de cultuurlening?</h2>
    </div>
    <div class="sticky-bar__wrap sticky-bar__wrap_right"><a class="sticky-bar__link bar-link" href="#contact"><span>Neem contact op</span></a></div>
  </div>
  <!-- ==> End Sticky Bar-->
  <main class="main-wrap">
    <!-- ==> Start Header-->
    <header class="header-sect" name="header">
      <div class="container">
        <div class="header">
          <div class="header__wrap header__wrap_right">
            <h1 class="header__title">De keramiekstudio<br>van Lennard Houkes
            </h1>
            <p class="header__text">Sagittis mauris et ornare viverra. Neque dictumst duis vitae congue. Amet elementum aliquam aliquet et nec leo quam.</p>
          </div>
          <div class="header__wrap header__wrap_left">
            <form class="form header__form">
              <div class="form__wrap form__wrap_top">
                <h2 class="form__title">Meer weten over de cultuurlening?</h2>
                <p class="form__text">Volutpat, tellus id et a. Nunc urna massa nibh.</p>
              </div>
              <div class="form__wrap form__wrap_middle">
                <div class="form__wrap-input form__wrap-input_top">
                  <div class="form__inp-wrapper inp-wrap error"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.10002 0.900024L0.900024 5.10002M0.900024 0.900024L5.10002 5.10002" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
                    <label class="form__label">Achternaam*</label>
                    <div class="form__input-wrap form__input-wrap_user">
                      <input class="form__input" type="text" name="user" placeholder="Jouw achternaam">
                      <svg class="icon icon-user gray">
                        <use xlink:href="img/sprinte/sprite.svg#user"></use>
                      </svg>
                    </div>
                    <div class="error-text">Achternaam is not valid.
                    </div>
                  </div>
                  <div class="form__inp-wrapper inp-wrap error"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.10002 0.900024L0.900024 5.10002M0.900024 0.900024L5.10002 5.10002" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
                    <label class="form__label">Telefoonnummer*</label>
                    <div class="form__input-wrap form__input-wrap_phone">
                      <input class="form__input" type="tel" name="phone" placeholder="+31-XXX-XXXX-XX">
                      <svg class="icon icon-phone gray">
                        <use xlink:href="img/sprinte/sprite.svg#phone"></use>
                      </svg>
                    </div>
                    <div class="error-text">Telefoonnummer is not valid.
                    </div>
                  </div>
                </div>
                <div class="form__wrap-input form__wrap-input_middle">
                  <!-- Error Class for validation-->
                  <div class="form__inp-wrapper inp-wrap error"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.10002 0.900024L0.900024 5.10002M0.900024 0.900024L5.10002 5.10002" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
                    <label class="form__label">E-mailadres*</label>
                    <div class="form__input-wrap form__input-wrap_mail">
                      <input class="form__input" type="email" name="mail" placeholder="Je e-mailadres">
                      <svg class="icon icon-mail gray">
                        <use xlink:href="img/sprinte/sprite.svg#mail"></use>
                      </svg>
                    </div>
                    <div class="error-text">Email is not valid.
                    </div>
                  </div>
                  <div class="form__textarea-wrap">
                    <label class="form__label">Opmerking</label>
                    <textarea class="form__textarea" placeholder="Beschrijf uw vraag"></textarea>
                  </div>
                </div>
              </div>
              <div class="form__wrap form__wrap_bot">
                <label class="form__check">
                  <input type="checkbox"><span class="form__check-text">Ik accepteer de algemene voorwaarden</span>
                </label>
              </div>
              <button class="form__btn"><span>Voorleggen</span></button>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!-- ==> End Header-->
    <!-- ==> Start Verdeling Section-->
    <section class="verdeling-sect" name="">
      <div class="container">
        <div class="verdeling">
          <div class="verdeling__wrap verdeling__wrap_left">
            <h2 class="verdeling__title">Verdeling bestedingsdoelen in 2018</h2>
            <p class="verdeling__text">Elit blandit libero pharetra nulla bibendum eget amet. Auctor cras nullam enim cursus. Pharetra mauris hac vitae, in gravida donec id orci. Varius nibh tristique dolor tristique. Auctor vel at nibh cras.</p>
            <ul class="verdeling__items">
              <li class="verdeling__item verdeling__item_apparatuur">
                <figure class="verdeling__itm-icon">
                  <svg class="icon icon-Apparatuur primary">
                    <use xlink:href="img/sprinte/sprite.svg#Apparatuur"></use>
                  </svg>
                </figure>
                <div class="verdeling__content">
                  <h3 class="verdeling__itm-title">Apparatuur</h3>
                  <p class="verdeling__itm-text">Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin</p>
                </div>
              </li>
              <li class="verdeling__item verdeling__item_werkplaats_">
                <figure class="verdeling__itm-icon">
                  <svg class="icon icon-Werkplaats_ primary">
                    <use xlink:href="img/sprinte/sprite.svg#Werkplaats_"></use>
                  </svg>
                </figure>
                <div class="verdeling__content">
                  <h3 class="verdeling__itm-title">Werkplaats</h3>
                  <p class="verdeling__itm-text">Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin</p>
                </div>
              </li>
              <li class="verdeling__item verdeling__item_productiekosten_">
                <figure class="verdeling__itm-icon">
                  <svg class="icon icon-Productiekosten_ primary">
                    <use xlink:href="img/sprinte/sprite.svg#Productiekosten_"></use>
                  </svg>
                </figure>
                <div class="verdeling__content">
                  <h3 class="verdeling__itm-title">Productiekosten</h3>
                  <p class="verdeling__itm-text">Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin</p>
                </div>
              </li>
              <li class="verdeling__item verdeling__item_overbrugging_">
                <figure class="verdeling__itm-icon">
                  <svg class="icon icon-Overbrugging_ primary">
                    <use xlink:href="img/sprinte/sprite.svg#Overbrugging_"></use>
                  </svg>
                </figure>
                <div class="verdeling__content">
                  <h3 class="verdeling__itm-title">Overbrugging </h3>
                  <p class="verdeling__itm-text">Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin</p>
                </div>
              </li>
              <li class="verdeling__item verdeling__item_instrumenten_">
                <figure class="verdeling__itm-icon">
                  <svg class="icon icon-Instrumenten_ primary">
                    <use xlink:href="img/sprinte/sprite.svg#Instrumenten_"></use>
                  </svg>
                </figure>
                <div class="verdeling__content">
                  <h3 class="verdeling__itm-title">Instrumenten</h3>
                  <p class="verdeling__itm-text">Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin</p>
                </div>
              </li>
              <li class="verdeling__item verdeling__item_marketing">
                <figure class="verdeling__itm-icon">
                  <svg class="icon icon-Marketing primary">
                    <use xlink:href="img/sprinte/sprite.svg#Marketing"></use>
                  </svg>
                </figure>
                <div class="verdeling__content">
                  <h3 class="verdeling__itm-title">Marketing &amp; Communicatie</h3>
                  <p class="verdeling__itm-text">Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin</p>
                </div>
              </li>
              <li class="verdeling__item verdeling__item_overig">
                <figure class="verdeling__itm-icon"><img class="icon" src="img/Overig.png" alt="Overig">
                </figure>
                <div class="verdeling__content">
                  <h3 class="verdeling__itm-title">Overig</h3>
                  <p class="verdeling__itm-text">Magna aliquet nulla amet, pellentesque egestas sit risus turpis ut bibendum sit nec mauris aenean porttitor sed ut purus adipiscing a risus lorem morbi proin</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="verdeling__wrap verdeling__wrap_right scl-form-wrap">
            <form class="form verdeling__form scl-form">
              <div class="form__wrap form__wrap_top">
                <h2 class="form__title">Meer weten over de cultuurlening?</h2>
                <p class="form__text">Volutpat, tellus id et a. Nunc urna massa nibh.</p>
              </div>
              <div class="form__wrap form__wrap_middle">
                <div class="form__wrap-input form__wrap-input_top">
                  <div class="form__inp-wrapper inp-wrap error"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.10002 0.900024L0.900024 5.10002M0.900024 0.900024L5.10002 5.10002" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
                    <label class="form__label">Achternaam*</label>
                    <div class="form__input-wrap form__input-wrap_user">
                      <input class="form__input" type="text" name="user" placeholder="Jouw achternaam">
                      <svg class="icon icon-user gray">
                        <use xlink:href="img/sprinte/sprite.svg#user"></use>
                      </svg>
                    </div>
                    <div class="error-text">Achternaam is not valid.
                    </div>
                  </div>
                  <div class="form__inp-wrapper inp-wrap error"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.10002 0.900024L0.900024 5.10002M0.900024 0.900024L5.10002 5.10002" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
                    <label class="form__label">Telefoonnummer*</label>
                    <div class="form__input-wrap form__input-wrap_phone">
                      <input class="form__input" type="tel" name="phone" placeholder="+31-XXX-XXXX-XX">
                      <svg class="icon icon-phone gray">
                        <use xlink:href="img/sprinte/sprite.svg#phone"></use>
                      </svg>
                    </div>
                    <div class="error-text">Telefoonnummer is not valid.
                    </div>
                  </div>
                </div>
                <div class="form__wrap-input form__wrap-input_middle">
                  <!-- Error Class for validation-->
                  <div class="form__inp-wrapper inp-wrap error"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.10002 0.900024L0.900024 5.10002M0.900024 0.900024L5.10002 5.10002" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
                    <label class="form__label">E-mailadres*</label>
                    <div class="form__input-wrap form__input-wrap_mail">
                      <input class="form__input" type="email" name="mail" placeholder="Je e-mailadres">
                      <svg class="icon icon-mail gray">
                        <use xlink:href="img/sprinte/sprite.svg#mail"></use>
                      </svg>
                    </div>
                    <div class="error-text">Email is not valid.
                    </div>
                  </div>
                  <div class="form__textarea-wrap">
                    <label class="form__label">Opmerking</label>
                    <textarea class="form__textarea" placeholder="Beschrijf uw vraag"></textarea>
                  </div>
                </div>
              </div>
              <div class="form__wrap form__wrap_bot">
                <label class="form__check">
                  <input type="checkbox"><span class="form__check-text">Ik accepteer de algemene voorwaarden</span>
                </label>
              </div>
              <button class="form__btn"><span>Voorleggen</span></button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- ==> End Verdeling Section-->
    <!-- ==> Start Overview Section-->
    <section class="overview-sect" name="">
      <div class="container">
        <div class="overview">
          <div class="overview__wrap overview__wrap_top">
            <figure class="overview__wrap-image">
              <div class="overview__img"><img src="https://jaaroverzicht.fondscultuurfinanciering.nl/storage/app/media/Foto%20Case%201.jpg" alt="Orci sit volutpat a eros risus, cras sit gravida. Sed sed sit dis odio quis."></div>
              <figcaption class="overview__about">
                <div class="overview__num">01</div>
                <ul class="overview__loans">
                  <li class="overview__loan-itm">
                    <figure class="overview__loan-ico"><img src="img/Talentlening.png" alt="Talentlening"></figure>
                    <p class="overview__loan-title">Talentlening</p>
                  </li>
                  <li class="overview__loan-itm">
                    <figure class="overview__loan-ico"><img src="img/Werkruimte.png" alt="Werkruimte"></figure>
                    <p class="overview__loan-title">Werkruimte</p>
                  </li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="overview__wrap overview__wrap_middle">
            <h2 class="overview__title">Orci sit volutpat a eros risus, cras sit gravida. Sed sed sit dis odio quis.</h2>
            <p class="overview__text">Elit blandit libero pharetra nulla bibendum eget amet. Auctor cras nullam enim cursus. Pharetra mauris hac vitae, in gravida donec id orci. Varius nibh tristique dolor tristique. Auctor vel at nibh cras. Et neque eget mauris diam eget placerat est. Euismod amet ultricies tellus neque, arcu a in nisl. Et imperdiet senectus tempus dictumst nisi, purus. Tristique accumsan accumsan dui egestas ut. Turpis sed viverra viverra consequat auctor nec diam, consectetur posuere. Consectetur dis cursus auctor ac vitae. Massa enim egestas pellentesque commodo. Suspendisse aliquam purus id diam adipiscing. Tortor, quisque nunc arcu integer magna ante elit elementum. Eu quis posuere dolor sit.</p>
          </div>
          <div class="overview__wrap overview__wrap_bot">
            <div class="overview__feedback">
              <figure class="overview__user-img">
                <div class="overview__wrap-user-img"><img src="img/feedback/feedback-user-0.jpg" alt="Lennard Houkes"></div>
                <figcaption class="overview__about-user">
                  <h3 class="overview__user-name">Lennard Houkes</h3>
                  <p class="overview__user-ab">Purus suspendisse semper</p>
                </figcaption>
              </figure>
              <div class="overview__feedback-content">
                <p class="overview__fb-text">Etiam semper massa id id etiam porttitor. Ut mauris lectus facilisis diam facilisis fermentum diam. Sed vel justo libero, massa, eget scelerisque. Nisl donec sed neque velit fermentum, mauris tellus tristique. Ultricies in ipsum phasellus consectetur at tempus. Mauris sed egestas cras a diam. Pellentesque lacinia amet vitae mattis in pretium. Auctor quam suscipit dolor leo enim. Ullamcorper arcu purus, orci eu suspendisse viverra nascetur ultrices. Nibh tellus tincidunt nulla sed pellentesque. Tortor et.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="overview">
          <div class="overview__wrap overview__wrap_top">
            <figure class="overview__wrap-image">
              <div class="overview__img"><img src="img/sect-4-img.jpg" alt="Orci sit volutpat a eros risus, cras sit gravida. Sed sed sit dis odio quis."></div>
              <figcaption class="overview__about">
                <div class="overview__num">02</div>
                <ul class="overview__loans">
                  <li class="overview__loan-itm">
                    <figure class="overview__loan-ico"><img src="img/Talentlening.png" alt="Utrechtse Cultuurlening"></figure>
                    <p class="overview__loan-title">Utrechtse Cultuurlening</p>
                  </li>
                  <li class="overview__loan-itm">
                    <figure class="overview__loan-ico"><img src="img/Werkruimte.png" alt="Inrichting werkruimte"></figure>
                    <p class="overview__loan-title">Inrichting werkruimte</p>
                  </li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="overview__wrap overview__wrap_middle">
            <h2 class="overview__title">Orci sit volutpat a eros risus, cras sit gravida. Sed sed sit dis odio quis.</h2>
            <p class="overview__text">Elit blandit libero pharetra nulla bibendum eget amet. Auctor cras nullam enim cursus. Pharetra mauris hac vitae, in gravida donec id orci. Varius nibh tristique dolor tristique. Auctor vel at nibh cras. Et neque eget mauris diam eget placerat est. Euismod amet ultricies tellus neque, arcu a in nisl. Et imperdiet senectus tempus dictumst nisi, purus. Tristique accumsan accumsan dui egestas ut. Turpis sed viverra viverra consequat auctor nec diam, consectetur posuere. Consectetur dis cursus auctor ac vitae. Massa enim egestas pellentesque commodo. Suspendisse aliquam purus id diam adipiscing. Tortor, quisque nunc arcu integer magna ante elit elementum. Eu quis posuere dolor sit.</p>
          </div>
          <div class="overview__wrap overview__wrap_bot">
            <div class="overview__feedback">
              <figure class="overview__user-img">
                <div class="overview__wrap-user-img"><img src="img/feedback/feedback-user-1.jpg" alt="Lennard Houkes"></div>
                <figcaption class="overview__about-user">
                  <h3 class="overview__user-name">Lennard Houkes</h3>
                  <p class="overview__user-ab">Purus suspendisse semper</p>
                </figcaption>
              </figure>
              <div class="overview__feedback-content">
                <p class="overview__fb-text">Etiam semper massa id id etiam porttitor. Ut mauris lectus facilisis diam facilisis fermentum diam. Sed vel justo libero, massa, eget scelerisque. Nisl donec sed neque velit fermentum, mauris tellus tristique. Ultricies in ipsum phasellus consectetur at tempus. Mauris sed egestas cras a diam. Pellentesque lacinia amet vitae mattis in pretium. Auctor quam suscipit dolor leo enim. Ullamcorper arcu purus, orci eu suspendisse viverra nascetur ultrices. Nibh tellus tincidunt nulla sed pellentesque. Tortor et.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ==> End Overview Section-->
    <!-- ==> Start Contact Section-->
    <section class="contact-sect" name="">
      <div class="container">
        <div class="contact">
          <div class="contact__wrap contact__wrap_left">
            <h2 class="contact__title">Jaaroverzicht<br>cultuurleningen 2018
            </h2>
            <p class="contact__text">Kunst en cultuur bloeit elk jaar weer! Maar… hoe kom je aan geld om te laten zien wat je kan? Misschien met een Cultuurlening. Dan kun je investeren in jouw creatieve idee. Acht goede voorbeelden tonen wat dat kan opleveren. Wel terugbetalen natuurlijk! Dan lenen wij het weer uit voor een ander creatief idee. Want zo werkt het Fonds Cultuur+Financiering.</p>
            <!-- For anchor link in tablet and mobile version-->
            <div name="contact"></div><a class="contact__link" href="#"><span class="contact__link-text">Uitchecken Best Practices in Cultuurfinanciering</span><i class="contact__link-icon">
                <svg class="icon icon-arrow-right black">
                  <use xlink:href="img/sprinte/sprite.svg#arrow-right"></use>
                </svg></i></a><a class="contact__up up-btn" href="#header">
              <svg class="icon icon-arrow-top primary">
                <use xlink:href="img/sprinte/sprite.svg#arrow-top"></use>
              </svg></a>
          </div>
          <div class="contact__wrap contact__wrap_right">
            <form class="form contact__form">
              <div class="form__wrap form__wrap_top">
                <h2 class="form__title">Meer weten over de cultuurlening?</h2>
                <p class="form__text">Volutpat, tellus id et a. Nunc urna massa nibh.</p>
              </div>
              <div class="form__wrap form__wrap_middle">
                <div class="form__wrap-input form__wrap-input_top">
                  <div class="form__inp-wrapper inp-wrap error"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.10002 0.900024L0.900024 5.10002M0.900024 0.900024L5.10002 5.10002" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
                    <label class="form__label">Achternaam*</label>
                    <div class="form__input-wrap form__input-wrap_user">
                      <input class="form__input" type="text" name="user" placeholder="Jouw achternaam">
                      <svg class="icon icon-user gray">
                        <use xlink:href="img/sprinte/sprite.svg#user"></use>
                      </svg>
                    </div>
                    <div class="error-text">Achternaam is not valid.
                    </div>
                  </div>
                  <div class="form__inp-wrapper inp-wrap error"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.10002 0.900024L0.900024 5.10002M0.900024 0.900024L5.10002 5.10002" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
                    <label class="form__label">Telefoonnummer*</label>
                    <div class="form__input-wrap form__input-wrap_phone">
                      <input class="form__input" type="tel" name="phone" placeholder="+31-XXX-XXXX-XX">
                      <svg class="icon icon-phone gray">
                        <use xlink:href="img/sprinte/sprite.svg#phone"></use>
                      </svg>
                    </div>
                    <div class="error-text">Telefoonnummer is not valid.
                    </div>
                  </div>
                </div>
                <div class="form__wrap-input form__wrap-input_middle">
                  <!-- Error Class for validation-->
                  <div class="form__inp-wrapper inp-wrap error"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.10002 0.900024L0.900024 5.10002M0.900024 0.900024L5.10002 5.10002" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
                    <label class="form__label">E-mailadres*</label>
                    <div class="form__input-wrap form__input-wrap_mail">
                      <input class="form__input" type="email" name="mail" placeholder="Je e-mailadres">
                      <svg class="icon icon-mail gray">
                        <use xlink:href="img/sprinte/sprite.svg#mail"></use>
                      </svg>
                    </div>
                    <div class="error-text">Email is not valid.
                    </div>
                  </div>
                  <div class="form__textarea-wrap">
                    <label class="form__label">Opmerking</label>
                    <textarea class="form__textarea" placeholder="Beschrijf uw vraag"></textarea>
                  </div>
                </div>
              </div>
              <div class="form__wrap form__wrap_bot">
                <label class="form__check">
                  <input type="checkbox"><span class="form__check-text">Ik accepteer de algemene voorwaarden</span>
                </label>
              </div>
              <button class="form__btn"><span>Voorleggen</span></button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- ==> End Contact Section-->
  </main>
  <!-- ==> Start Footer-->
  <footer class="footer">
    <div class="container">
      <div class="footer__contact">
        <h3 class="footer__title">Contact</h3>
        <addres>
          <ul class="footer__items">
            <li class="footer__item"><a href="mailto:info@cultuur-ondernemen.nl"><i class="footer__itm-icon">
                  <svg class="icon icon-mail white">
                    <use xlink:href="img/sprinte/sprite.svg#mail"></use>
                  </svg></i><span class="footer__itm-text">info@cultuur-ondernemen.nl</span></a></li>
            <li class="footer__item"><a href="tel:+31 20 535 25 00"><i class="footer__itm-icon">
                  <svg class="icon icon-phone white">
                    <use xlink:href="img/sprinte/sprite.svg#phone"></use>
                  </svg></i><span class="footer__itm-text">+31 20 535 25 00</span></a></li>
          </ul>
        </addres>
      </div>
      <div class="footer__wrap footer__wrap_bot">
        <div class="footer__dev">Deze website is gemaakt door <a href="#">Opklopper</a>
        </div>
        <div class="footer__copy">Copyright © 2020 Cultuur+Ondernemen</div>
      </div>
    </div>
  </footer>
  <!-- ==> End Footer-->
</body>
<script src="js/svg4everybody.min.js"></script>
<script src="js/main.js"></script>

app/pug/index.pug
include mainBlock/_doc
body
    // ==> Start Navigation
    nav.navigation
        .container
            .logo
                a(href="#").logo__link
                    img(src=`${imgPath}desc-logo.svg`, alt="Logotype")
            .logo-mob
                a(href="#").logo__link
                    img(src=`${imgPath}mobile-logo.svg`, alt="Mobile logotype")
    // ==> End Navigation
    // ==> Start Sticky Bar
    .sticky-bar
        .sticky-bar__wrap.sticky-bar__wrap_left
            h2.sticky-bar__title Meer weten over de cultuurlening?
        .sticky-bar__wrap.sticky-bar__wrap_right
            a(href="#contact").sticky-bar__link.bar-link
                span Neem contact op
    // ==> End Sticky Bar
    main.main-wrap
        // ==> Start Header
        header.header-sect(name="header")
            .container
                .header
                    .header__wrap.header__wrap_right
                        h1.header__title
                            = header.title.split('<br>')[0]
                            br
                            = header.title.split('<br>')[1]
                        p.header__text= header.text
                    .header__wrap.header__wrap_left
                        +contactForm('header__form')
        // ==> End Header
        // ==> Start Verdeling Section
        +section('verdeling-sect')
            .verdeling
                .verdeling__wrap.verdeling__wrap_left
                    h2.verdeling__title= verdeling.title
                    p.verdeling__text= verdeling.text
                    ul.verdeling__items
                        - const items = verdeling.items;
                        - for(let itm of items)
                            li(class=`verdeling__item verdeling__item_${itm.icon.toLowerCase().includes('.png') ? itm.icon.toLowerCase().split('.png')[0] : itm.icon.toLowerCase() }`)
                                figure.verdeling__itm-icon
                                    - if(itm.icon.includes('.png'))
                                        img(src=`${imgPath}${itm.icon}` class="icon" alt=`${itm.title}`)
                                    - else 
                                        +icon(itm.icon, 'primary')
                                .verdeling__content
                                    h3.verdeling__itm-title= itm.title
                                    p.verdeling__itm-text= itm.text
                .verdeling__wrap.verdeling__wrap_right.scl-form-wrap
                    +contactForm('verdeling__form scl-form')
        // ==> End Verdeling Section
        // ==> Start Overview Section
        +section('overview-sect')
            - for(let itm of overview)
                .overview
                    .overview__wrap.overview__wrap_top
                        figure.overview__wrap-image
                            .overview__img
                                img(src=`${itm.img}`, alt=`${itm.title}`)
                            figcaption.overview__about
                                .overview__num= itm.number
                                ul.overview__loans
                                    - const loans = itm.loans;
                                    - for(let loan of loans)
                                        li.overview__loan-itm
                                            figure.overview__loan-ico
                                                img(src=`${loan.icon}`, alt=`${loan.title}`)
                                            p.overview__loan-title= loan.title
                    .overview__wrap.overview__wrap_middle
                        h2.overview__title= itm.title
                        p.overview__text= itm.text
                    .overview__wrap.overview__wrap_bot
                        - const feedback = itm.feedback;
                        .overview__feedback
                            figure.overview__user-img
                                .overview__wrap-user-img
                                    img(src=`${feedback.user.img}`, alt=`${feedback.user.name}`)
                                figcaption.overview__about-user
                                    h3.overview__user-name= feedback.user.name
                                    p.overview__user-ab= feedback.user.position
                            .overview__feedback-content
                                p.overview__fb-text= feedback.text
        // ==> End Overview Section
        // ==> Start Contact Section
        +section('contact-sect')
            .contact
                .contact__wrap.contact__wrap_left
                    h2.contact__title
                        = contact.title.split('<br>')[0]
                        br
                        = contact.title.split('<br>')[1]
                    p.contact__text= contact.text
                    // For anchor link in tablet and mobile version
                    div(name="contact")
                    a(href="#").contact__link
                        span.contact__link-text
                            = contact.link
                        i.contact__link-icon
                            +icon('arrow-right', 'black')
                    a(href="#header").contact__up.up-btn
                        +icon('arrow-top', 'primary')
                .contact__wrap.contact__wrap_right
                    +contactForm('contact__form')
        // ==> End Contact Section
    // ==> Start Footer
    footer.footer
        .container
            .footer__contact
                h3.footer__title= footer.title
                addres
                    ul.footer__items
                        - for(let itm of footer.contacts)
                            li.footer__item
                                a(href=`${(itm.value.includes('@')) ? `mailto:${itm.value}` : `tel:${itm.value}`}`)
                                    i.footer__itm-icon
                                        +icon(itm.icon, 'white')
                                    span.footer__itm-text= itm.value
            .footer__wrap.footer__wrap_bot
                .footer__dev
                    = 'Deze website is gemaakt door '
                    a(href="#") Opklopper
                - const date = new Date().getFullYear();
                .footer__copy= `Copyright © ${date} Cultuur+Ondernemen`
    // ==> End Footer


                 


include mainBlock/_scripts
